.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 15px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: rgb(148, 100, 100);
  cursor: not-allowed;
}
